@use "global" as *;

.header {
  height: rem(52);
  z-index: 501;
  position: fixed;
  width: 100%;
  background-color: $white;
  @include mq(md){
    height: rem(60);  
  }
}
.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  position: relative;
  @include mq(md){
    padding-left: rem(20);
    max-width: rem(1460);
    margin: 0 auto;
  }
}
.header__logo {
  display: block;
  height: 100%;
  a{
    display: flex;
    align-items: center;
    padding-left: rem(16);
    height: 100%;
    width: rem(140);
    @include mq(md){
      width: rem(264);
    }
  }
}
.header__menu {
  display: flex;
  height: inherit;
}
.header__pc-nav {
  height: inherit;
  margin-right: rem(84);
  ul,li,a{
    height: inherit;
  }
  ul {
    display: flex;
    justify-content: space-between;
    width: 51vw;
    max-width: rem(600);
    // max-width: rem(729);
  }
}
.header__cta {
  white-space: nowrap;
  display: flex;
  align-items: center;
  background-color: $b-yellow;
  padding: 0 rem(12);
  font-weight: 700;
  @include mq(md){
    position: relative;
    padding: 0 rem(52) 0 rem(20);
  }
  &::after {
    @include mq(md){
      content: "";
      position: absolute;
      display: block;
      background-color: #000;
      top: 50%;
      right: rem(23);
      width: rem(10);
      height: rem(20);
      clip-path: polygon(0 0,100% 50%, 0 100%);
      transform: translate(0, -50%);
    }
  }
  span {
    display: none;
    @include mq(md){
      display: inline-block;
    }
  }
} 
.header__nav-item {
  display: inline-block;
  height: inherit;
  vertical-align: top;
  position: relative;
  a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px transparent;
    transition: all 0.3s ease;
    font-weight: 700;
    img {
      height: auto;
      display: inline-block;
      width: rem(16);
      margin-left: rem(6);
    }
    &:hover {
      transition: all 0.3s ease;
      opacity: 1;
    }
  }
  &:last-of-type {
    margin-right: 0;
  }
}
.header__nav-item--have-sub {
  padding-right: rem(20);
  position: relative;
  &:hover {
    ul.header__nav-sub-items {
      display: block;
      transition: all 0.3s ease;
      opacity: 1;
      pointer-events: all;
    }
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: rem(6);
    height: rem(6);
    right: 0;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: top right;
  }
}
ul.header__nav-sub-items {
  position: absolute;
  display: none;
  transition: all 0.3s ease;
  opacity: 0;
  width: fit-content;
  left: rem(-40);
  white-space: nowrap;
  li a {
    background-color: #fff;
    padding-left: rem(40);
    padding-right: rem(40);
    &:hover {
      background-color: #f7f7f7;
    } 
  }
}
.header__sp-nav {
  height: inherit;
  display: flex;
  width: 100%;
  max-width: rem(118);
  align-items: center;
  @include mq(md){
    display: none;
  }
}
.header__insta-sp {
  display: block;
  img {
    width: rem(24);
  }
}
